@import url('https://fonts.googleapis.com/css?family=Days+One|Maven+Pro|Varela+Round');
body {
background: radial-gradient(#5AC624  ,#0C734A   );
color: #FFFFFF;
}


 h1 {
text-align: center;
  font-family: 'Days one';
  color:  #FFFFFF;
}

  p {
  font-family: 'Maven Pro';
  font-size: 15px;
}


h2 {
font-family: 'Days one';
}

 h3 {
  text-align: center;
  font-size: 17px;
  color:#fccc03;
  width: 110px;
  height: 30px;
font-family: 'Maven Pro';
border-radius: 100px 100px 100px 100px;
-moz-border-radius: 100px 100px 100px 100px;
-webkit-border-radius: 100px 100px 100px 100px;
border: 2px solid #ffffff;
padding-top: 10px;
}



.expli-section-content{
  width: 400px;

}


header {

margin: 20px;
width: 600px;
margin-left: auto;
margin-right: auto;
background-color: rgba(255, 255, 255, 0.4);
border-radius: 64px 64px 64px 64px;
-moz-border-radius: 64px 64px 64px 64px;
-webkit-border-radius: 64px 64px 64px 64px;
border: 0px solid rgba(255, 255, 255, 0.2);
}

.header-navigation a{
  color: #FFFFFF;
  font-family: 'Maven Pro';
  padding: 1em;
  text-decoration: none;
font-size: 20px;

}

.header-navigation a:hover{
   color: #ffed00  ;
}


.header-navigation {
  height: 60px;
  text-align: center;
  padding-left: 10px;
  }


.étape {
display: inline-block;
margin-top: 20px;
flex-wrap: wrap;
}


.next img {
  width: 60px;
}


.video-container{
  margin-right: 40px;
  padding-top: 20px;
}

.expli-section-content{
  margin-left: 40px;

}

section {
display: flex;
justify-content: center;
margin-left: 80px;
margin-top: 80px;
flex-wrap: wrap;
}
